
<div class="profileinfo hero-unit-inner">
	<div class="gravatar">	
		<%= gravatar_for @user %>
	</div>
	<h1> <%= @user.name %></h1>
	Some description of user here
	<p><p>
</div>

<div id="pins">
	<%= render @pins %>
</div>

<%= will_paginate @pins %>

<!-- can do an if/else statement to check if current_user == user.name, etc !-->