

		<h1> <%= @user.name %></h1>

	User pic here


<div id="pins">
	<%= render @pins %>
</div>

<%= will_paginate @pins %>

<!-- can do an if/else statement to check if current_user == user.name, etc !-->