
<div id="innercontainer">
	<h1>About</h1>

	<p>

	This is a sample Pinterest-style Ruby on Rails site with user accounts, image uploading, and tagging.
	</p>

<div class="fillerspace">
</div>

</div>
