
	<div class="hero-unit">
		<h1>Alicia's Future Home Page</h1>
		<p>
			You found the home page for the
			<%= link_to "awesome website","#" %>
			application
		</p>
		<p>
			<%= link_to "Sign up Now!","#", class: "btn btn-primary btn-large" %>
		</p>
	</div>


