/*$baseFontFamily: Oxygen;
@import url(http://fonts/googleapis.com/css?family=Oxygen);*/

$btnPrimaryBackground: green;
$navbarBackgroundHighlight: white;
$navbarBackground: white;
$linkColor: lightblue;

@import 'bootstrap';

body{
	padding-top: 60px;
}

@import 'bootstrap-responsive';

/*#innercontainer{
	width: 80%;
}*/

.container{
	width: 100%;
}



.hero-unit{
	text-align: center;
	background: -webkit-gradient(linear, left top, right top, from(#1a82f7), to(gray));
	border-radius: 0px;

}

.navbar-inner{
	@include box-shadow(none !important);
	border: 0;
}

.homebutton{
	margin-top:15px;

}

#myCarousel{
	margin: auto;
	height: 300px;
	width: 80%;
}

#dividerline{
	margin: auto;
	height: 1px;
	width: 60%;
	background-color: lightgray;
}

.blurbs{
	padding-top: 20px;
	text-align: center;

	height: 200px;
}

.footer{
	margin-top:50px;
	background-color: black;
	height: 100px;
	color: $grayLight;
	a{
		color: $gray;
	}
	text-align: center;
}

.box{
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
}

.box img{
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-border-radius: 5px;
}

.description{
	margin: 10px 0 5px;
}

.blurb1{
	width: 30%;
	margin-left: 15%;
	margin-right: 5%
}

.blurb2{
	width: 30%;
	margin-left: 5%;
	margin-right: 15%;
}

.outerpins{
	padding-left: 10%;
}
